body{
	width: 100%;
	height: 100%;
	margin: auto;
}

.menu{
	width: 100%;
	height: 60px;
	background-color: #eeeded;
	font-family: tahoma;
	color: #fff;
	list-style: none;
}

.menu ul {
	float: right;
	margin-top: -10px;
	margin-right: 15px;
}

.menu ul li{
	margin: 0px;
	padding: 18px;
	padding-top: 30px;
	margin-left: 0px;
	height: 22px;
	text-decoration: none;
	list-style: none;
	display: inline-block;
}



.menu ul a li {
	color: #000;
	font-family: arial;
	text-decoration: none;
	font-size: 18px;
}

.menu ul a li:hover{
	background-color: #dbd8d8;
	cursor: pointer;
	transition:0.3s; 

}

.menu h3{
	float: left;
	margin-top: 17px;
	color: #575757;
	margin-left: 20px;
	font-weight: bolder;
}

.header{
	width: 100%;
	height: 500px;
	background: url('../img/header-home.jpg') ;
	margin-top: -17px;
	float: left;
}

.header h1{
	margin-top: 100px;
	margin-left: 100px;
	font-family: arial;
	font-size: 68px;
	color: #fff;
}
.header h4{
	margin-left: 104px;
	margin-top: -40px;
	color: #fff;
	font-size: 28px;
	font-family: sans-serif;
}

.header a{
	margin-left: 104px;
	margin-top: -40px;
	color: #fff;
	padding: 15px;
	border-radius: 3px;
	border: 1px solid #ccc;
	text-decoration: none;
}

.header a:hover{
	color: #887272;
	transition: 0.4s;
	background-color: #fff;
}

.jumbotron{
	float: left;
	width: 100%;
	height: 550px;
	background-color: #f2f6f7;
	margin:auto;
	font-family: arial;
}

.jumbotron h1 {
	margin: 35px;
}

.jumbotron .colspan {
	margin-left: 65px;
	display: inline-block;
	width: 250px;
	height: 400px;
	border: 1px #ccc solid;
}

.jumbotron .colspan p{
	display: inline-block;
	text-align: left;
	text-indent: 35px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: arial;
}

.jumbotron .colspan h4{
	margin: 0px;
	margin-left: 5px;
	margin-top: 5px;
}

.jumbotron .colspan a{
	text-decoration: none;
	color: #000;
	font-size: 12px;
	font-weight: bolder;
	padding: 10px;
	margin: 5px;
	margin-top: -5px;
	border: 1px #ccc solid;
	border-radius: 3px;
}

.jumbotron .colspan a:hover{
	color: #fff;
	background-color: #40454f;
	transition: 0.4s;
}

.footer{
	font-size: 13px;
	font-family: arial;
	padding: 5px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: auto;
	float: none;
	bottom: 0;
	background-color: #40454f;
}