body{
	width: 100%;
	margin: auto;
	background-color: #ebedee;
	
}

.container{
	width: 100%;
	height: 100%;
}

.header{
	width: 100%;
	height: 70px;
	background-color: #126fc6;
	font-family: tahoma;
	color: #fff;
	list-style: none;
	
}

.header .a {
	float: right;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 25px;
	color: #fff;
	text-decoration: none;
	width: 60px;
	height: 45px;
	margin-right: 20px;
}
.header .a:hover {
	float: right;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 25px;
	color: #fff;
	text-decoration: none;
	width: 60px;
	height: 45px;
	margin-right: 20px;
	background-color: #53a7f5;
	transition: 0.2s;
}

.header h2 {
	float: left;
	padding-left: 75px;
}

.header h2 a{
	color: #fff;
	text-decoration: none;
}

.menu {
	height: inherit;
	width: 300px;
	float: left;
	background-color: #3e566d;
}

.menu ul{
	margin-top: 0px;
}

.menu ul a {
	text-decoration: none;
}

.menu ul a li{

	color: #fff;
	text-decoration: none;
	list-style: none;
	border-left: #3e566d 8px solid;
	width: 260px;
	font-family: arial;
	padding: 15px;
	margin-left: -40px;
}

.menu ul a li:hover{
	transition: 0.2s;
	background-color: #2f3b46;
	color: #fff;
	text-decoration: none;
	border-left: #126fc6 8px solid;
	list-style: none;
	width: 260px;
	font-family: arial;
	padding: 15px;
	margin-left: -40px;
}

.jumbotron {
	float: left;
	display: inline-block;
	height: auto;
	width: 73%;
	max-height: 80%;
	overflow: auto;
	margin: 16px;
	padding: 15px;
	border-top: 3px #ccc solid;
	background-color: #fff;
	font-family: arial;
}

.jumbotron h2{
	background-color: #fff;
	color: #000;
	padding: 10px;
	margin-right: -15px;
	margin-top: -15px;
	margin-left: -15px;
	width: auto;
	border-bottom: 1px solid  #ececec;
}

.btn {
	padding: 8px;
	background-color: #128dd3;
	text-decoration: none;
	font-family: arial;
	color: #fff;
	border: none;
}

.btn:hover {
	padding: 8px;
	transition:0.2s;
	background-color: #0f71a9;
	text-decoration: none;
	font-family: arial;
	color: #fff;
	cursor: pointer;
}

.btn-danger {
	padding: 8px;
	background-color: #d31212;
	text-decoration: none;
	font-family: arial;
	color: #fff;
	border: none;
}

.btn-danger:hover {
	padding: 8px;
	transition:0.2s;
	background-color: #a90f0f;
	text-decoration: none;
	font-family: arial;
	color: #fff;
	cursor: pointer;
}

.btn-success {
	padding: 8px;
	background-color: #12d33f;
	text-decoration: none;
	font-family: arial;
	color: #fff;
	border: none;
}

.btn-success:hover {
	padding: 8px;
	transition:0.2s;
	background-color: #0fa833;
	text-decoration: none;
	font-family: arial;
	color: #fff;
	cursor: pointer;
}


.table {
	border-spacing: 0px;
	font-family: arial;
	width: 100%;

}


.table tr:first-child{
	background-color: #376a88;
	color: #fff;
}


.table tr td{
padding: 9px;
border-bottom: #ccc solid 1px;
}

.table-form {
	border-spacing: 0px;
	font-family: arial;
	width: 100%;

}
.table-form tr td{
padding: 9px;
border-bottom: #ccc solid 1px;
}

.table-form tr:first-child{
	background-color: #fff;
}

.table-form tr td:first-child{
	width: 20%;
}

.table-form tr td:last-child{
	width: 70%;
}


input {
	padding: 5px;
	border: 1px solid #ccc;
	font-family: arial;
}

select {
	padding: 5px;
	border: 1px solid #ccc;
	font-family: arial;
}

textarea {
	padding: 5px;
	width: 300px;
	height: 80px;
	border: 1px solid #ccc;
	font-family: arial;
}

.footer{
	width: 77%;
	height: 30px;
	background-color: #fff;
	border-top: 3px solid #ccc;
	text-align: center;
	font-family: arial;
	padding-top: 20px;
	position: absolute; 
	margin-top: auto;
	bottom: -70;
	margin-left: 305px;
}

.footer .right{
	float: right;
	margin-right: 10px;
	font-size: 12px;
}

.footer .left {
	float: left;
	font-weight: bolder;
	margin-left: 10px;
	font-size: 12px;
}